.btn-especialist
{
    width: 50%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #0067ec;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px;
}